body {
    background:url(http://owhak23d7.bkt.clouddn.com/background4.JPG);
    background-size: cover;
    background-attachment: fixed;
}

.post-body p a {
  color: #0593d3;
  border-bottom: none;
  &:hover {
    color: #0477ab;
    text-decoration: underline;
  }
}
// Custom styles.
